*.swp
tolset
*.o
*.a
*.so
*.exe
*.lib
*.dll
*.obj
*.pdb
*.manifest
*.exp
*.ilk
*.idb
*.pyc
*.pyd
*.out
*.conf
logging
.vs
.ycm_extra_conf.py
.vscode
.vim
coc-setting.json
Makefile
build
cmake-build
asio
MARK.CNYX
MARK.NOTE
